@charset "UTF-8";

header {
    background-color: black;
    text-align: center;
    color: rgb(207, 12, 12);
}

h1::after,
h1::before {
    color: white;
    content: '...';
}

h2 {
    text-align: right;
    color: rgb(201, 1, 1);
}

h3 {
    color: rgb(202, 1, 1);
    text-decoration: underline;
}

.paragrafo_2 {
    background-color: #cbc3b9;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: rgb(202, 1, 1);
}

aside {
    background-color: rgb(202, 1, 1);
    text-align: center;
}

aside a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

section h3 {
    text-decoration: underline;
    font-size: 30px;
    color: #c52233;
}

div h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(197, 34, 51);
    font-size: 2em;
    word-spacing: 2px;
    text-indent: 30px;

}

div a {
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 42px;
}

.gostos {
    background-color: rgb(8, 101, 28);
}

div a:hover {
    color: white;
    background-color: black;
}